html, body {
    margin: 0;
}
body {
    background-color: #c27052;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: auto;
    display: flex;
    margin: 0;
    background-color: rgb(192, 138, 118);
}
.main {
    display: flex;
    flex-flow: column;
    width: 95%;
}
.menu {
    width: 15%;
    background-color: rgba(255, 214, 160, 0.521);
    padding: 10px 20px 0px;
    color: rgb(207, 109, 38);
    font-size: x-large;
    font-family: sans-serif;
    text-align: center
    
}
.header {
    background-color: rgba(230, 161, 137, 0.308);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: max-content;
    padding: 100px;
    font-family: cursive;
    font-size: medium;
    color: rgb(172, 87, 26);
}
.footer {
    background-color: rgb(255, 214, 160);
    min-height: 50px;
    text-align: center;
    color: rgb(172, 87, 26);
    font-size: small;
}
.meditacao {
    width: 100%;
    height: auto; 
    display: block;
}
.bota {
    font-size: medium;
    font-family: Georgia;
}
.lotus{
    width: 100%;
    height: auto;
    display: block;
}
.conteudo {
    background-color: white;
    width: auto;
    padding: 20px;
    font-family: cursive;
    font-size: medium;
    color: rgb(172, 87, 26);
}
.container{
    width: 1200px;
    display: grid;
    margin: 0 auto;
    background-color: rgb(192, 138, 118);
}
.linklink{
    color: #c27052;
}
